<?php

    # Verificar se sessão existe
    if ( !isset($_SESSION['user'])){
        header("location: $project_index?error=");
    }

    # Incluindo as classes necessárias
    include_once $GLOBALS['project_path'].'controller/corredor.php';

    
    $selecao=$_GET["status"]!="i"?"selected":"";
    $readonly=$_GET['status']!="i"?"readonly":"";

    $readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";


    $ajaxEmpresa = "";
    $ajaxEmpresa = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'empresa');";
    $ajaxEmpresa = 'onclick=' .'"'.$ajaxEmpresa.'"';
    #$ajaxEmpresa = $_GET["status"]=="f"?$ajaxEmpresa:"";
    
    $ajaxSetor  = "";
    $ajaxSetor  = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'setor');";
    $ajaxSetor  = 'onclick=' .'"'.$ajaxSetor.'"';
    #$ajaxSetor  = $_GET["status"]=="f"?$ajaxSetor:"";
    
    $ajaxCaixa  = "";
    $ajaxCaixa  = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'caixa');";
    $ajaxCaixa  = 'onclick=' .'"'.$ajaxCaixa.'"';
    #$ajaxCaixa  = $_GET["status"]=="f"?$ajaxCaixa:"";
  
    
    $ajaxArquivo = "";
    $ajaxArquivo = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'arquivo');";
    $ajaxArquivo = 'onchange=' .'"'.$ajaxArquivo.'"';
    #$ajaxArquivo = $_GET["status"]=="f"?$ajaxArquivo:"";

    $ajaxCorredor = "";
    $ajaxCorredor = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'corredor');";
    $ajaxCorredor = 'onclick=' .'"'.$ajaxCorredor.'"';
    #$ajaxCorredor = $_GET["status"]=="f"?$ajaxCorredor:"";


    $ajaxEstante = "";
    $ajaxEstante = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'estante');";
    $ajaxEstante = 'onclick=' .'"'.$ajaxEstante.'"';
    #$ajaxEstante = $_GET["status"]=="f"?$ajaxEstante:"";

    $ajaxPrateleira = "";
    $ajaxPrateleira = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'prateleira');";
    $ajaxPrateleira = 'onclick=' .'"'.$ajaxPrateleira.'"';
    #$ajaxPrateleira = $_GET["status"]=="f"?$ajaxPrateleira:"";

    $ajaxTipoDocumento = "";
    $ajaxTipoDocumento = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'tipodocumento');";
    $ajaxTipoDocumento = 'onmouseout=' .'"'.$ajaxTipoDocumento.'"';
    #$ajaxTipoDocumento = $_GET["status"]=="f"?$ajaxTipoDocumento:"";


?>
<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Novo Documento</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Documentos</a>
        </li>
    </ol>
    <h1 class="page-header">Novo Documento</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados do Documento </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form action="<?php echo $GLOBALS['project_index']; ?>/controller/documento.php" method="post" enctype="multipart/form-data">
                  
                    <!--Linha 01-->
                    <div class="row"> 
                       
                        <div class="col-md-3">
                            <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                            <div class="form-group">
                                <label>Numero Documento </label><br>
                                <input  name="codDoc"  class="form-control" id="CodDoc" placeholder="Documento" value="<?=$_GET['status']!="i"?$_GET["codDoc"]:"";?>" <?=$_GET['status']!="i"?"readonly":"";?>  required  onkeypress='return SomenteNumero(event)' onblur='ZerosEsquerda(this,16)'> 
                            </div>
                        </div>
                       
                       
                        <div class="col-md-9">
                            
                            <div class="form-group ">
                                <label>Empresa</label>
                                <select id="idEmpresa" name="codEmp" <?=$readonly;?> class="form-control" <?=$ajaxSetor;?> <?=$ajaxTipoDocumento;?> <?=$ajaxArquivo;?> >
                                 <?php
                                    if ( $_GET["status"]=="i")
                                    { 
                                        echo '<option disabled selected value=0>=>Selecionar Empresa<=</option>';	
                                    }
                                    foreach ($tabelaEmpresa as $coluna)
                                    {
                                        echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["Codigo"] .'">' .$coluna["Empresa"] ."</option>";                     
                                    }
                                ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Linha 01-->
                    
                    <!--Linha 02-->
                    <div class="row"> 
                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Setor </label><br>
                                <select id="idSetor" name="codSet"  <?=$ajaxCaixa;?> class="form-control"  <?=$readonlyCampo;?>>
                                    <?php
                                      if ( $_GET["status"]!="i" )
                                      { 
                                        foreach ($tabelaArquivo as $coluna)
                                        {
                                            $selecao = $_GET["codSet"]==$coluna["CodSetor"]?"selected":"";
                                            echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodSetor"] .'">' .$coluna["Setor"] ."</option>";                     
                                        }
                                      }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Caixa</label><br>
                                <select id="idCaixa" name="codCai" class="form-control" <?=$readonlyCampo;?>>
                                    <?php
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaCaixa as $coluna)
                                      {
                                          $selecao = $_GET["codCai"]==$coluna["CodCaixa"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodCaixa"] .'">' .$coluna["Caixa"] ."</option>";                     
                                      }
                                    }
                                   ?>

                                </select>
                              
                            </div>
                        </div>
                    </div>
                    <!--Linha 02-->

                    <!--Linha 03-->
                    <div class="row">
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">Localização</p>
                        </div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                    </div>
                    <!--Linha 03-->

                    <!--Linha 04-->
                    <div class="row">

                        <div class="col-md-3" >
                            <div class="form-group">    
                                <label> Arquivo </label><br>	
                                <select id="idArquivo" <?=$ajaxCorredor;?> name="codArq" <?=$readonly;?> class="form-control" >
                                    <?php
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaArquivo as $coluna)
                                      {
                                          $selecao = $_GET["codArq"]==$coluna["CodArquivo"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodArquivo"] .'">' .$coluna["Arquivo"] ."</option>";                     
                                      }
                                    }
                                   ?>
                                    
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Corredor </label><br>
                                 <select id="idCorredor" <?=$ajaxEstante;?> name="codCor"  class="form-control" <?=$readonlyCampo;?> >
                                    <?php
                  
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaCorredor as $coluna)
                                      {
                                          $selecao = $_GET["codCor"]==$coluna["CodCorredor"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodCorredor"] .'">' .$coluna["Corredor"] ."</option>";                     
                                      }
                                    }
                                   ?>
                                  
                                </select>
                                
                            </div>
                        </div>
          
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Estante</label><br>
                                <select id="idEstante" <?=$ajaxPrateleira;?> name="codEst"  class="form-control" <?=$readonlyCampo;?> >
                                    <?php
                  
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaEstante as $coluna)
                                      {
                                          $selecao = $_GET["codEst"]==$coluna["CodEstante"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodEstante"] .'">' .$coluna["Estante"] ."</option>";                     
                                      }
                                    }
                  
                                   ?>
                                </select>
          
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Prateleira </label><br>
                                <select id="idPrateleira" name="codPra"  <?=$readonlyCampo;?>  class="form-control" >
                                    <?php
                                        $CodPra=isset($_GET["codPra"])?$_GET["codPra"]:"";
                                        if ( $_GET["status"]=="i" && $CodPra=="" )
                                        {
                                            echo '<option disabled selected value=0>=>Selecionar Prateleira<=</option>';	
                                        }
                                        else
                                        {
                                            $CodPra=$registro['cod_prateleira'];
                                        }
                                        foreach ($tabelaPrateleira as $coluna){
                                            $selecao = $CodPra==$coluna["CodPrateleira"]?"selected":"";
                                            echo '<option '. $selecao. ' value="'. $coluna["CodPrateleira"] .'">' .$coluna["Prateleira"] ."</option>";                     
                                        }
                                    ?>
                                </select>
                            </div>
                        </div>
    
                    </div>
                    <!--Linha 04-->
               
                    <!--Linha 05-->
                    <div class="row">
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">Documento</p>
                        </div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                    </div>            
                    <!--Linha 05-->
    

                    <!--Linha 06-->
                    <div class="row">  
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo</label><br>
                                <select id="idTipo" name="codTip"  <?=$readonlyCampo;?> class="form-control" >
                                    <?php
                                        $CodTip=isset($_GET["codTip"])?$_GET["codTip"]:"";
                                        if ( $_GET["status"]=="i" && $CodTip=="" )
                                        {
                                            echo '<option disabled selected value=0>=>Selecionar Tipo Documento<=</option>';	
                                        }
                                        else
                                        {
                                                $CodTip=$registro['tip_documento'];
                                        }
                                        foreach ($tabelaTipo as $coluna){
                                            $selecao = $CodTip==$coluna["CodTipo"]?"selected":"";
                                            echo '<option '. $selecao. '  value="'. $coluna["CodTipo"] .'">' .$coluna["Tipo"] ."</option>";                     
                                        }
                                    ?>
                                </select>
            
                            </div>
                        </div>
                    
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Numero Inicial </label><br>
                                <input  name="numIniDoc"  class="form-control" <?=$readonlyCampo;?> id="NumIniDoc" value="<?=$_GET['status']!="i"?$registro["no_ini_documento"]:"";?>" placeholder="Numero Inicial" >
                            </div>
                        </div>
    
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Numero Final</label><br>
                                <input  name="numFinDoc"  class="form-control" <?=$readonlyCampo;?> id="NumFinDoc" value="<?=$_GET['status']!="i"?$registro["no_fin_documento"]:"";?>" placeholder="Numero Final" >
                            </div>
                        </div>
                    
           
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Exercicio </label><br>
                                <input  name="anoExe"  class="form-control" <?=$readonlyCampo;?> placeholder="Ano Exercicio" id="AnoExe" value="<?=$_GET['status']!="i"?$registro["ref_exe_documento"]:"";?>" >
                            </div>
                        </div>
    
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Calendario </label><br>
                                <input  name="anoCal"  class="form-control" <?=$readonlyCampo;?> id="AnoCal" placeholder="Ano Calendario" value="<?=$_GET['status']!="i"?$registro["ref_cal_documento"]:"";?>" >
                            </div>
                        </div>
             
                    </div>
                    <!--Linha 06-->
                    
                    
                    <!--Linha 07-->
                    <div class="row">  
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Emissão Inicial</label><br>
                                <input type="date"  name="emiIniDoc"  <?=$readonlyCampo;?> class="form-control" id="EmiIniDoc" placeholder="Emissao Inicial" value="<?=$_GET['status']!="i"?$registro["dt_ini_documento"]:"";?>" >
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Emissão Final</label><br>
                                <input  type="date" name="emiFinDoc" <?=$readonlyCampo;?>  class="form-control" id="EmiFinDoc" placeholder="Emissao Final" value="<?=$_GET['status']!="i"?$registro["dt_fin_documento"]:"";?>" >
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Data Destruicao</label><br>
                                <input  type="date" name="desDoc"  <?=$readonlyCampo;?> class="form-control" id="DesDoc" placeholder="Destruicao" value="<?=$_GET['status']!="i"?$registro["dt_des_documento"]:"";?>" >
                            </div>
                        </div>
                        
                    </div>
                    <!--Linha 07-->
                 

                    <!--Linha 08-->
                    <div class="row">  
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="texDoc">Detalhe Documento:</label>
                                <textarea name ="texDoc" <?=$readonlyCampo;?> Class="form-control" rows="3" id="TexDoc" placeholder="Detalhar Documento"> <?=$_GET['status']!="i"?$registro["des_documento"]:"";?></textarea>
                            </div>
                        </div>
                    </div>
                    <!--Linha 08-->
                   

                    <!--Linha 09-->
                    <div class="row">  
                      <div class="col-md-12">
                        <p class="text-right">
                          <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 09-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


