<?php

# Verificar se sessão existe
if ( !isset($_SESSION['user'])){
    header("location: $project_index?error=");
}

# Incluindo as classes necessárias
include_once $GLOBALS['project_path'].'controller/empresa.php';

  
$selecao=$_GET["status"]!="i"?"selected":"";
$readonly=$_GET['status']!="i"?"readonly":"";

$readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";

?>
<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Nova Empresa</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Empresas</a>
        </li>
    </ol>
    <h1 class="page-header">Nova Empresa</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados da Empresa </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form action="<?php echo $GLOBALS['project_index']; ?>/controller/empresa.php" method="post" enctype="multipart/form-data">
                  
                    <div class="row"> <!--Linha 01-->

                      <div class="col-md-2">
                        <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                        <div class="form-group ">
                            <label>Codigo</label>
                            <input type="text" name="id"  maxlength="3"  value="<?=$_GET['status']!="i"?$_GET["id"]:"";?>" <?=$_GET['status']!="i"?"readonly":"";?>  class="form-control " placeholder="Codigo" required  onkeypress='return SomenteNumero(event)' onblur='ZerosEsquerda(this,3)'>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group ">
                            <label>Empresa</label>
                            <input type="text" name="desEmp" maxlength="80" value="<?=$_GET['status']!="i"?$registro["Empresa"]:"";?>"  <?=$readonlyCampo?> class="form-control" placeholder="Nome da Empresa" required  >
                        </div>
                      </div>

                    </div><!--Linha 01-->
                    
                    <div class="row">  <!--Linha 03-->

                      <div class="col-md-12">
                        <p class="text-right">
                          <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 03-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


