<?php

# Verificar se sessão existe
if ( !isset($_SESSION['user'])){
    header("location: $project_index?error=");
}

# Incluindo as classes necessárias
include_once $GLOBALS['project_path'].'controller/autorizado.php';

  
$selecao=$_GET["status"]!="i"?"selected":"";
$readonly=$_GET['status']!="i"?"readonly":"";

$readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";

?>


<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Novo Autorizado</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Autorizados</a>
        </li>
    </ol>
    <h1 class="page-header">Novo Autorizado</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados do Autorizado </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form onsubmit="return Valida(<?=$_GET['status'];?>);" action="<?php echo $GLOBALS['project_index']; ?>/controller/autorizado.php" method="post" enctype="multipart/form-data">
                  
                    <div class="row"> <!--Linha 01-->

                        <div class="col-md-2">
                            <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                        
                            <div class="form-group ">
                                <label>Codigo</label>
                                <input type="text" name="id"  maxlength="4"  value="<?=$_GET['status']!="i"?$_GET["id"]:"";?>" <?=$readonlyCampo;?>  class="form-control " placeholder="Codigo" required  onkeypress='return SomenteNumero(event)' onblur='ZerosEsquerda(this,4)'>
                            </div>
                        </div>
                    
                        <div class="col-md-10" >
                            <div class="form-group">    
                                <label>Nome</label>
                                <input type="text" name="nomeAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["nom_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Nome do Autorizado" required  >
                            </div>
                        </div>
                    </div><!--Linha 01-->
               
                    <div class="row">  <!--Linha 02-->
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Empresa</label>
                                <input type="text" name="empAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["emp_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Nome da Empresa" required  >
                            </div> 
                        </div>
                    
               
                    </div> <!--Linha 02-->   
               

                    <div class="row">  <!--Linha 03-->
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Setor</label>
                                <input type="text" name="setAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["set_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Setor da Empresa" required  >
                            </div> 
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Função</label>
                                <input type="text" name="funAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["fun_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Função na Empresa" required  >
                          </div> 
                        </div>

                    
               
                    </div> <!--Linha 03-->
                    


                    <div class="row">  <!--Linha 04-->
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>e-Mail</label>
                                <input type="emailtext" name="emailAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["email_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="e-Mail" required  >
                            </div> 
                        </div>

                    </div> <!--Linha 04-->


                    <div class="row">  <!--Linha 05-->
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="text" name="celAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["cel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Celular" required  >
                            </div> 
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefone</label>
                                <input type="text" name="telAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["tel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Telefone" required  >
                            </div> 
                        </div>
                    
               
                    </div> <!--Linha 05-->


                    <div class="row">  <!--Linha 06-->
                    
                        <div class="col-md-6">
                            <div class="form-group" <?=$_GET['status']!="i"?"hidden":"";?> >
                                <label>Senha</label>
                                <div class="input-group">
                                    <input  id="senha" type="password" name="senAut" maxlength="80"  <?=$readonlyCampo;?> class="form-control" placeholder="Senha" <?=$_GET['status']=="i"?"required":"";?>  >
                                    <div class="input-group-append">
                                        <button onclick="MostraSenha('senha');" class="input-group-text"> 
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group " <?=$_GET['status']!="i"?"hidden":"";?> >
                                <label>Senha Confirmação</label>
                                <div class="input-group">
                                    <input id="contrasenha" type="password" name="SenConAut" maxlength="80"  <?=$readonlyCampo;?> class="form-control" placeholder="Senha Confirmação" <?=$_GET['status']=="i"?"required":"";?> <?=$_GET['status']!="i"?"hidden":"";?> >
                                    <div class="input-group-append" >
                                        <button onclick="MostraSenha('contrasenha');" class="input-group-text">
                                             <i class="fa fa-eye"></i> 
                                        </button>
                                    </div>
                                </div>
                                <span>
                                    <span id="errorsenha" class="text-danger"></span>
                                </span>
                            </div> 
                        </div>
               
                    </div> <!--Linha 06-->


                    <div class="row">  <!--Linha 07-->

                      <div class="col-md-12">
                        <p class="text-right">
                          <button   type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 07-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
