<?php

# Verificar se sessão existe
if ( !isset($_SESSION['user'])){
    header("location: $project_index?error=");
}

# Incluindo as classes necessárias
include_once $GLOBALS['project_path'].'controller/acessomenu.php';

  
$selecao=$_GET["status"]!="i"?"selected":"";
$readonly=$_GET['status']!="i"?"readonly":"";

$readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";

$ajax="";
$ajax ="cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", combomenu,'menu');";
$ajax ='onclick=' .'"'.$ajax.'"';
$ajax =$_GET["status"]=="i"?$ajax:"";

$ajax="";
$ajax ="cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'menu');";
$ajax ='onclick=' .'"'.$ajax.'"';
$ajax =$_GET["status"]=="i"?$ajax:"";




?>
<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Novo Acesso ao Sistema</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Acesso ao Sistema</a>
        </li>
    </ol>
    <h1 class="page-header">Novo Acesso ao Sistema</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados de Acesso ao Sistema </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form action="<?php echo $GLOBALS['project_index']; ?>/controller/acessomenu.php" method="post" enctype="multipart/form-data">
                  
                    <div class="row"> <!--Linha 01-->

                        <div class="col-md-12">
                            <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                        
                            <div class="form-group ">
                                <label> Usuario </label><br>	
                                <select id="idUsuario"  required name="codUsu" <?=$readonly;?> class="form-control" <?=$ajax;?> >
                                    <?php
                                        $codUsu=isset($_GET["codUsu"])?$_GET["codUsu"]:"";
                                        if ( $_GET["status"]=="i" )
                                        { 
                                            echo '<option disabled selected value=0>=>Selecionar Usuario<=</option>';	
                                        }
                                        foreach ($tabelaUsuario as $coluna){
                                            $selecao = $codUsu==$coluna["Codigo"]?"selected":"";
                                            echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["Codigo"] .'">' .$coluna["Login"] ."</option>";                     
                                        }
                                    ?>
                                     
                                </select> 
                             </div>
                        </div>

                    
                    </div><!--Linha 01-->
                   
                    <div class="row">  <!--Linha 02-->
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Menus </label><br>	
                                <select id="idMenu" name="codMenu" required class="form-control" <?=$readonly;?> >
                                    <?php
                                        if ( $_GET["status"]!="i" )
                                        { 
                                            foreach ($tabelaMenu as $key =>$coluna)
                                            {
                                                $selecao = $key==0?"selected":"";
                                                echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodMenu"] .'">' .$coluna["Sequencia"]."-".$coluna["Opcao"] ."</option>";                     
                                            }
                                        }
                                    ?>
                                     
                                </select>
    
                            </div> 
                        </div>
                    
                    </div> <!--Linha 02-->   
               

                    <div class="row">
                        <div class="col-md-2">
                            <hr bold>
                        </div>
                        <div class="col-md-2">
                            <p class="text-center">Permissões de Acesso</p>
                        </div>
                        <div class="col-md-2">
                            <hr bold>
                        </div>
                    </div>            
    

                    <div class="row">  <!--Linha 03-->
                    
                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_menu"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="menu" name="statMenu">
                                    <label class="custom-control-label" for="menu">Menu</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_inc"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="incluir" name="statInc">
                                    <label class="custom-control-label" for="incluir">Incluir</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_alt"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="alterar" name="statAlt">
                                    <label class="custom-control-label" for="alterar">Alterar</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_exc"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="excluir" name="statExc">
                                    <label class="custom-control-label" for="excluir">Excluir</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_con"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="consultar" name="statCon">
                                    <label class="custom-control-label" for="consultar">Consultar</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" <?=$registro["sta_rel"]=='1'?'checked':"";?> <?=$_GET['status']=="e"?"disabled":"";?> class="custom-control-input" value="1"  id="relatorio" name="statRel">
                                    <label class="custom-control-label" for="relatorio">Relatorio</label>
                                </div>
                            </div>
                        </div>
               
                    </div> <!--Linha 03-->
                 

                    <div class="row">  <!--Linha 04-->

                      <div class="col-md-12">
                        <p class="text-right">
                          <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 07-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


