<?php

# Verificar se sessão existe
if ( !isset($_SESSION['user'])){
    header("location: $project_index?error=");
}

# Incluindo as classes necessárias
include_once $GLOBALS['project_path'].'controller/setorautorizado.php';

  
$selecao=$_GET["status"]!="i"?"selected":"";
$readonly=$_GET['status']!="i"?"readonly":"";

$readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";

$ajax="";
$ajax ="cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'setor');";
$ajax ='onclick=' .'"'.$ajax.'"';
$ajax =$_GET["status"]=="i"?$ajax:"";


?>
<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Novo Acesso a Empresa</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Acesso a Empresa</a>
        </li>
    </ol>
    <h1 class="page-header">Novo Acesso a Empresa</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados de Acesso a Empresa </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form action="<?php echo $GLOBALS['project_index']; ?>/controller/setorautorizado.php" method="post" enctype="multipart/form-data">
                  
                    <div class="row"> <!--Linha 01-->

                        <div class="col-md-12">
                            <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                            <input  type="hidden" name="codId" value="<?=$_GET['status']!="i"?$registro["id_setaut"]:"";?>" >
                            <div class="form-group ">
                                <label> Autorizado </label><br>	
                                <select id="idAutorizado" name="codAut" <?=$readonly;?> required class="form-control" >
                                    <?php
                                    if ( $_GET["status"]=="i" && ( $_GET["codEmp"]=="0" || $_GET["codEmp"]=="") )
                                    { 
                                        echo '<option disabled selected value="">=>Selecionar Autorizado<=</option>';	
                                    }
                                    foreach ($tabelaAutorizado as $coluna){
                                        $selecao = $_GET["codAut"]==$coluna["CodAutorizado"]?"selected":"";
                                        echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodAutorizado"] .'">' .$coluna["Autorizado"] ."</option>";                     
                                    }
                                    ?>
                                     
                                </select> 
                             </div>
                        </div>
                    
                    </div><!--Linha 01-->
               
                    <div class="row">  <!--Linha 02-->
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Empresa </label><br>	
                               
                                <select id="idEmpresa" name="codEmp" <?=$readonly;?> required class="form-control" <?=$ajax;?> >
                                      <?php
                                    if ( $_GET["status"]=="i" && ( $_GET["codEmp"]=="0" || $_GET["codEmp"]=="") )
                                    { 
                                        echo '<option disabled selected value=0>=>Selecionar Empresa<=</option>';	
                                    }
                                    foreach ($tabelaEmpresa as $coluna){
                                        $selecao = $_GET["codEmp"]==$coluna["Codigo"]?"selected":"";
                                    
                                        echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["Codigo"] .'">' .$coluna["Empresa"] ."</option>";                     
                                    }
                                    ?>
                                    
                                </select>
                            </div> 
                        </div>
                    
               
                    </div> <!--Linha 02-->   
               

                    <div class="row">  <!--Linha 03-->
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Setor </label><br>	
                                <select id="idSetor" name="codSet" <?=$readonly;?> class="form-control" required >
                                    <?php
                                        if ( $_GET["status"]!="i" )
                                        { 
                                            foreach ($tabelaSetor as $coluna)
                                            {
                                                $selecao = $_GET["codSet"]==$coluna["CodSetor"]?"selected":"";
                                                echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodSetor"] .'">' .$coluna["Setor"] ."</option>";                     
                                            }
                                        }
                                    ?>
                                  
                                </select>     
                            </div> 
                        </div>

               
                    </div> <!--Linha 03-->
                 

                    <div class="row">  <!--Linha 04-->

                      <div class="col-md-12">
                        <p class="text-right">
                          <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 07-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


