<?php

    
    if ( !isset($_SESSION['user'])){
        #header("location: index.php");
    }

    # Informacoes do banco
    
    include_once  "autorizado.php";
    
    $readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";
    
     
?>

 <div class="row">
        <div class="col-md-8 offset-1 col-sm-12">
            <div class="empresa-form">
 
                <form action="autorizado.php" method="POST">
                    
                    <div class="row">
                           <div class="col-md-2"> 
                                <div class="form-group">
                                    <label>Codigo</label>
                                    <input type="text" name="id"  maxlength="4"  value="<?=$_GET['status']!="i"?$_GET["id"]:"";?>" <?=$readonlyCampo;?>  class="form-control " placeholder="Codigo" required  onkeypress='return SomenteNumero(event)' onblur='ZerosEsquerda(this,4)'>
                                </div>
                            </div>
                            <div class="col-md-10"> 
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="nomeAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["nom_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Nome do Autorizado" required  >
                                </div>
                            </div>    
                    </div>  
                    
                    
                    <div class="form-group">
                        <label>Empresa</label>
                        <input type="text" name="empAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["emp_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Nome da Empresa" required  >
                    </div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label>Setor</label>
                                <input type="text" name="setAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["set_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Setor da Empresa" required  >
                            </div>
                        </div>
                        <div class="col-md-6"> 
                    
                            <div class="form-group">
                                <label>Função</label>
                                <input type="text" name="funAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["fun_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Função na Empresa" required  >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>e-Mail</label>
                        <input type="text" name="emailAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["email_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="e-Mail" required  >
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4"> 
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="text" name="celAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["cel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Celular" required  >
                            </div>
                        </div>
                        <div class="col-md-4"> 
                                <div class="form-group">
                                <label>Telefone</label>
                                <input type="text" name="telAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["tel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Telefone" required  >
                            </div>
                        </div>
                        
                    </div>    
                    <div class="row">
                        <div class="col-md-4"> 
                            <div class="form-group">
                                <label>Login</label>
                                <input type="text" name="logAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["log_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Login" required  >
                            </div>
                        </div>
                        <div class="col-md-4"> 
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="text" name="senAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["cel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Senha" required  >
                            </div>
                        </div>
                        <div class="col-md-4"> 
                                <div class="form-group">
                                <label>Senha Confirmação</label>
                                <input type="text" name="SenConAut" maxlength="80" value="<?=$_GET['status']!="i"?$registro["tel_autorizado"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Senha Confirmação" required  >
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <label hidden >Operacao</label>
                        <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" class="form-control" placeholder="Nome da Empresa" required  >
                    </div>
                                                          
                    <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                        
                        <i class="fa fa-check-circle" style="font-size:24px;color:green;"></i>
                        <?php 
                            if ($_GET['status']=='e')
                            {
                                echo "Excluir";
                            }
                            else
                            {
                                echo "Salvar";
                            }
                            
                        ?>
                        
                    </button>
                      
                    <button type="button" class="btn btn-primary" aria-pressed="true" onclick="history.back();">
                        <i class="fa fa-times " style="font-size:24px;color:red;"></i>
                         Cancelar
                    </button>  
                    
                </form>
            </div>
        </div>
    </div>

