<?php

# Verificar se sessão existe
if ( !isset($_SESSION['user'])){
    header("location: $project_index?error=");
}

# Incluindo as classes necessárias
include_once $GLOBALS['project_path'].'controller/prateleira.php';

  
$selecao=$_GET["status"]!="i"?"selected":"";
$readonly=$_GET['status']!="i"?"readonly":"";

$readonlyCampo=($_GET['status']=="e" || $_GET['status']=="v")?"readonly":"";


$ajaxArquivo = "";
$ajaxArquivo = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'arquivo');";
$ajaxArquivo = 'onclick=' .'"'.$ajaxArquivo.'"';
$ajaxArquivo = $_GET["status"]=="i"?$ajaxArquivo:"";

$ajaxCorredor = "";
$ajaxCorredor = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'corredor');";
$ajaxCorredor = 'onclick=' .'"'.$ajaxCorredor.'"';
$ajaxCorredor = $_GET["status"]=="i"?$ajaxCorredor:"";


$ajaxEstante = "";
$ajaxEstante = "cargaAjax('" . $GLOBALS['project_index'] . "/controller/ajax.php?'" . ", comboSetor,'estante');";
$ajaxEstante = 'onclick=' .'"'.$ajaxEstante.'"';
$ajaxEstante = $_GET["status"]=="i"?$ajaxEstante:"";



?>
<div class="content" id="content" style="margin: 0px;padding:0px;">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active">Nova Prateleira</li>
        <li class="breadcrumb-item active" onclick="history.back();"><a href="#">Listar Prateleira</a>
        </li>
    </ol>
    <h1 class="page-header">Nova Prateleria</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Informe abaixo os dados da Prateleira </h4>
                </div>
                <div class="panel-body">
                  <!-- MEET FORM CONTROL HERE .class="simple_form new_bae" id="new_bae" data-parsley-validate="true" novalidate="novalidate" -->
                  <!-- <div class="row"> -->
                  <form action="<?php echo $GLOBALS['project_index']; ?>/controller/prateleira.php" method="post" enctype="multipart/form-data">
                  
                    <div class="row"> <!--Linha 01-->

                        <div class="col-md-6">
                            <input  type="hidden" name="operacao" value="<?=$_GET['status'];?>" >
                        
                            <div class="form-group ">
                                <label>Empresa</label>
                                <select id="idEmpresa" name="codEmp" <?=$readonly;?> <?=$ajaxArquivo;?> required class="form-control">
                                    <?php
                                    if ( $_GET["status"]=="i")
                                    { 
                                        echo '<option disabled selected value=0>=>Selecionar Empresa<=</option>';	
                                    }
                                    foreach ($tabelaEmpresa as $coluna){
                                        echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["Codigo"] .'">' .$coluna["Empresa"] ."</option>";                     
                                    }
                                    ?>
                                    
                                </select>
                            </div>
                        </div>


                        <div class="col-md-6" >
                            <div class="form-group">    
                                <label> Arquivo </label><br>	
                                <select id="idArquivo" name="codArq" <?=$readonly;?> <?=$ajaxCorredor;?> class="form-control" >
                                    <?php
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaArquivo as $coluna)
                                      {
                                          $selecao = $_GET["codArq"]==$coluna["CodArquivo"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodArquivo"] .'">' .$coluna["Arquivo"] ."</option>";                     
                                      }
                                    }
                                  ?> 
                                </select>
                            </div>
                        </div>

                 
                    </div><!--Linha 01-->

                    <div class="row"> <!--Linha 02-->
                 
                 
                        <div class="col-md-6" >
                            <div class="form-group">    
                                <label> Corredor </label><br>	
                                <select id="idCorredor" name="codCor" <?=$readonly;?> <?=$ajaxEstante;?> class="form-control">
                                    <?php
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaCorredor as $coluna)
                                      {
                                          $selecao = $_GET["codCor"]==$coluna["CodCorredor"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodCorredor"] .'">' .$coluna["Corredor"] ."</option>";                     
                                      }
                                    }
                                  ?>
                                     
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <div class="form-group">    
                                <label> Estante </label><br>	
                                <select id="idEstante" name="codEst" <?=$readonly;?> class="form-control">
                              
                                    <?php
                                    if ( $_GET["status"]!="i" )
                                    { 
                                      foreach ($tabelaEstante as $coluna)
                                      {
                                          $selecao = $_GET["codEst"]==$coluna["CodEstante"]?"selected":"";
                                          echo '<option '. $selecao. ' '. $readonly . ' value="'. $coluna["CodEstante"] .'">' .$coluna["Estante"] ."</option>";                     
                                      }
                                    }
                                  ?>
                              
                                    
                                </select>
                            </div>
                        </div>
               
                    </div><!--Linha 02-->
            


               
                    <div class="row">  <!--Linha 03-->
                    
                        
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Codigo Prateleira</label>
                                <input type="text" name="codPra"  maxlength="3"  value="<?=$_GET['status']!="i"?$_GET["codPra"]:"";?>" <?=$_GET['status']!="i"?"readonly":"";?>  class="form-control" placeholder="Codigo" required  onkeypress='return SomenteNumero(event)' onblur='ZerosEsquerda(this,2)'>
                            </div> 
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Descricao</label>
                                <input type="text" name="desPra" maxlength="80" value="<?=$_GET['status']!="i"?$registro["des_prateleira"]:"";?>"  <?=$_GET['status']=="e"?"readonly":"";?> class="form-control" placeholder="Descricao da Prateleira" required  >
                            </div>
                        </div>
      
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sigla Prateleira</label>
                                <input type="text" name="sigPra" maxlength="80" value="<?=$_GET['status']!="i"?$registro["sig_prateleira"]:"";?>"  <?=$readonlyCampo;?> class="form-control" placeholder="Sigla da Prateleira" required  >
                            </div>
                        </div>
        

                    </div> <!--Linha 03-->   
                      
                    <div class="row">  <!--Linha 04-->

                      <div class="col-md-12">
                        <p class="text-right">
                          <button type="submit" class="btn btn-primary" <?=$_GET['status']=='v'?'hidden':'';?> aria-pressed="true">
                            <i class="fa fa-check-circle" ></i> 
                            <b>
                              <?php 
                                if ($_GET['status']=='e')
                                {
                                    echo "Excluir";
                                }
                                else
                                {
                                    echo "Salvar";
                                }
                              ?>
                            </b>
                          </button>
                        </p>
                      </div> 

                    </div> <!--Linha 04-->
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


