<header class="main-header">

    <!-- Logo -->

    <a href="<?php echo $GLOBALS['project_index']; ?>" class="logo">

      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b> acatuba</span>

      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Pref. de </b><?=$config['config_city'];?></span>

    </a>

    <!-- Header Navbar: style can be found in header.less -->

    <nav class="navbar navbar-static-top">

      <!-- Sidebar toggle button-->

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">

        <span class="sr-only">Toggle navigation</span>

      </a>



      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">

          <!-- Messages: style can be found in dropdown.less-->

          

          <!-- User Account: style can be found in dropdown.less -->

          <li class="dropdown user user-menu">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

              <img src="<?php echo getAvatar($GLOBALS['project_index'], $user->user_profile_photo); ?>" class="user-image" alt="User Image">

              <span class="hidden-xs"><?php echo $user->user_name; ?></span>

            </a>

            <ul class="dropdown-menu">

              <!-- User image -->

              <li class="user-header">

                <img src="<?php echo $GLOBALS['project_index'].'/upload/'.$user->user_profile_photo; ?>" class="img-circle" alt="User Image">



                <p>

                  <?php echo $user->user_name; ?>

                  <small>Member since Nov. 2012</small>

                </p>

              </li>

              <!-- Menu Body -->

              <li class="user-body">

                <div class="row">

                  <div class="col-xs-4 text-center">

                    <a href="#">Followers</a>

                  </div>

                  <div class="col-xs-4 text-center">

                    <a href="#">Sales</a>

                  </div>

                  <div class="col-xs-4 text-center">

                    <a href="#">Friends</a>

                  </div>

                </div>

                <!-- /.row -->

              </li>

              <!-- Menu Footer-->

              <li class="user-footer">

                <div class="pull-left">

                  <a href="?op=profile" class="btn btn-primary btn-flat"><i class="fa fa-user"></i> <b>Perfil</b></a>

                </div>

                <div class="pull-right">

                  <a href="<?php echo $GLOBALS['project_index']; ?>/controller/logout.php" class="btn btn-primary btn-flat"><i class="fa fa-sign-out"></i> <b>Sair</b></a>

                </div>

              </li>

            </ul>

          </li>

          <!-- Control Sidebar Toggle Button -->

          <?php if($user->office_id == 1 or $user->office_id == 2): ?>

          <li class="active">

            <a href="?op=general-settings"><i class="fa fa-gears"></i> <b>Definições Gerais</b></a>

          </li>

          <?php endif; ?>

        </ul>

      </div>

    </nav>

  </header>