<?php
    
   
    # Verificar se sessão existe
    if ( !isset($_SESSION['user'])){
        header("location: $project_index?error=");
    }
    $user=$_SESSION['user'];

	# Incluindo as classes necessárias
    include_once dirname(__DIR__).'/model/config.php';
    
    include_once $GLOBALS['project_path'].'dao/menuPDO.php';
	include_once $GLOBALS['project_path'].'controller/acessomenu.php';

      
    #--> Guardando Acesso as operacoes
    $menuPDO= new MenuPDO();
    $acoes=$menuPDO->listaMenu($user['id_usu'],"Acesso ao Sistema");
    
?>


<script type="text/javascript">
    $(document).ready(function() {
        $('#table-manager').DataTable({
            "language":{
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                },
                "select": {
                    "rows": {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionado 1 linha"
                    }
                }
            }
        //"fixedHeader": true
        });
    });
</script>

<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
    <li class="breadcrumb-item active">Listar Acesso ao Sistema</li>
</ol>

<h1 class="page-header">Listar Acesso ao Sistema</h1>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="box-body">
           

                        <div class="form-group">    
                            <label >Usuario </label><br>
                            <?php
                                $filtro=$user['id_usu'];
                                $filtro= isset($_GET['filtroUsu'])?$_GET['filtroUsu']:$filtro;	
                            ?>
                            <select id="codigo" name="codUsu"  class="form-control" onchange="changecombousuario(document.getElementById('codigo').value,'acesso')">
                                <?php
                                foreach ($tabelaUsuario as $coluna){
                                    $selecao=( $coluna["Codigo"]== $filtro )?"selected":"";
                                    echo '<option '. $selecao. ' '. ' value="'. $coluna["Codigo"] .'">' .$coluna["Login"] ."</option>";                     
                                }
                                ?>
                                
                            </select>
                        </div>

           
                        <table class="table table-hover table-bordered " id="table-manager">
                            <thead>
                                <tr>
                                    <?php 
                                        foreach ($dataTableColunas as $coluna)
                                        {
                                            if (substr($coluna,0,3)!="Cod" )
                                            {
                                                echo "<th>". $coluna. "</th>";
                                            }
                                        }
                                    ?>
                                    <th><i class="fa fa-gears"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php for ($i=0;$i < count($dataTable);$i++ ) {
                                        echo "<tr>";
                                        
                                            foreach ($dataTable[$i] as $key=>$campo)
                                            {
                                                if (substr($key,0,3)!="Cod" )
                                                {
                                                    echo "<td>";
                                                        echo $campo;
                                                    echo "</td>";
                                                }
                                            }    
                                            
                                            echo "<td>";

                                                if ( $user['id_usu']!=$dataTable[$i]['CodUsuario']  ) 
                                                {   
                                                    if ( $acoes['sta_alt']==1 )
                                                    {
                                                        $link='href=sisarq.php?option=cadacesso&codAce='. $dataTable[$i]['CodAcesso'].'&codUsu='. $dataTable[$i]['CodUsuario'].'&codMenu='. $dataTable[$i]['CodMenu'].'&status=a';
                                                        echo '<a name="edit" class="btn btn-warning btn-sm"' . $link .'>';
                                                                echo '<i class="fa fa-edit"></i>';
                                                        echo '</a> ';
                                                    }

                                                    if ( $acoes['sta_exc']==1 )
                                                    {
                                                        $link='href=sisarq.php?option=cadacesso&codAce='. $dataTable[$i]['CodAcesso'].'&codUsu='. $dataTable[$i]['CodUsuario'].'&codMenu='. $dataTable[$i]['CodMenu'].'&status=e';
                                                        echo '<a name="delete" class="btn btn-danger btn-sm"' . $link .'>';
                                                            echo '<i class="fa fa-trash"></i>';
                                                        echo '</a> ';
                                                    }  
                                                }
                                                if ( $acoes['sta_con']==1 )
                                                {
                                                    $link='href=sisarq.php?option=cadacesso&codAce='. $dataTable[$i]['CodAcesso'].'&codUsu='. $dataTable[$i]['CodUsuario'].'&codMenu='. $dataTable[$i]['CodMenu'].'&status=v';
                                                    echo '<a name="view" class="btn btn-primary btn-sm"' . $link . '>';
                                                        echo '<i class="fa fa-eye"></i>';
                                                    echo '</a> ';
                                                }
                                           
                                                echo '</td>';
                                                      
                                        echo "</tr>";
                                    } 
            
                                ?>
            

                            </tbody>
                            <tfoot>
                                <?php
                                if ( $acoes['sta_inc']==1 )
                                {
                                    echo '<a href="sisarq.php?option=cadacesso&status=i" class="btn btn-success">';
                                    echo '<i class="fa fa-plus"></i> ';
                                    echo '<b>Cadastrar novo Acesso ao Sistema</b>';
                                    echo '</a>';
                                }
                                ?>
                                <hr>
                            </tfoot>

                        </table>
                        <hr />
                        <?php
                        if ( $acoes['sta_inc']==1 )
                        {
                            echo '<div class="pull-right">';
                            echo '<a href="sisarq.php?option=cadacesso&status=i" class="btn btn-success"><i class="fa fa-plus"></i> <b>Cadastrar novo Acesso ao Sistema</b></a>';
                            echo '</div>';
                        }
                        ?>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

