<?php
    
   
    # Verificar se sessão existe
    if ( !isset($_SESSION['user'])){
        header("location: $project_index?error=");
    }
    $user=$_SESSION['user'];

	# Incluindo as classes necessárias
    include_once dirname(__DIR__).'/model/config.php';
    
    include_once $GLOBALS['project_path'].'dao/menuPDO.php';
	include_once $GLOBALS['project_path'].'controller/caixa.php';

      
    #--> Guardando Acesso as operacoes
    $menuPDO= new MenuPDO();
    $acoes=$menuPDO->listaMenu($user['id_usu'],"Caixa");
    $filtro=isset($_GET['filtroEmp'])?$_GET['filtroEmp']:"";
                               
?>


<script type="text/javascript" class="init">
   $(document).ready(function() {
	$('#table-manager').DataTable( {
		columnDefs: [ {
			orderable: false,
			className: 'select-checkbox',
			targets:   0
		} ],
		select: {
			style:    'os',
			selector: 'td:first-child'
		},
		order: [[ 1, 'asc' ]],
        select: true
     
	} );
} );
</script>



<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
    <li class="breadcrumb-item active">Listar Caixas</li>
</ol>

<h1 class="page-header">Listar Caixas</h1>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="box-body">

                        <div class="form-group">    
                            <label >Empresa </label>
                            <select id="codigo" name="codEmp"  class="form-control" onchange="changecomboempresa(document.getElementById('codigo').value,'caixa')">
                                <?php
                                echo '<option value="" > Todas Empresas</option>';
                                foreach ($tabelaEmpresa as $coluna){
                                    $selecao = ( $filtro!="" && $coluna["Codigo"]== $filtro )?"selected":"";
                                    echo '<option '. $selecao. ' '. ' value="'. $coluna["Codigo"] .'">' .$coluna["Empresa"] ."</option>";                     
                                }
                                ?>
                                
                            </select>
                        </div>

                        <table class="table table-hover table-bordered" id="table-manager">
                            <thead>
                                <tr>
                                    <?php 
                                        echo "<th></th>";
                                        foreach ($dataTableColunas as $coluna)
                                        {
                                            if (substr($coluna,0,3)!="Cod" )
                                            {
                                                echo "<th>". $coluna. "</th>";
                                            }
                                        }
                                    ?>
                                    <th><i class="fa fa-gears"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php for ($i=0;$i < count($dataTable);$i++ ) {
                                        echo "<tr>";
                                            echo "<td></td>";
                                           
                                            foreach ($dataTable[$i] as $key=>$campo)
                                            {
                                                if (substr($key,0,3)!="Cod" )
                                                {
                                                    echo "<td>";
                                                        echo $campo;
                                                    echo "</td>";
                                                }
                                           
                                            }    
                                            
                                            echo "<td>";
                                                if ( $acoes['sta_alt']==1 )
                                                {
                                                    $link=' href="sisarq.php?option=cadcaixa&codEmp='. $dataTable[$i]['CodEmpresa'].'&codSet='. $dataTable[$i]['CodSetor'].'&codCai='. $dataTable[$i]['CodCaixa']. '&status=a"';
                                                    echo '<a name="edit" class="btn btn-warning btn-sm"'.$link.'>';
                                                            echo '<i class="fa fa-edit"></i>';
                                                    echo '</a> ';
                                                }
                                                if ( $acoes['sta_exc']==1 )
                                                {
                                                    $link=' href="sisarq.php?option=cadcaixa&codEmp='. $dataTable[$i]['CodEmpresa'].'&codSet='. $dataTable[$i]['CodSetor'] .'&codCai='. $dataTable[$i]['CodCaixa'].'&status=e"';
                                                    echo '<a name="delete" class="btn btn-danger btn-sm"'.$link.'>';
                                                        echo '<i class="fa fa-trash"></i>';
                                                    echo '</a> ';
                                                }
                                                if ( $acoes['sta_con']==1 )
                                                {
                                                    $link=' href="sisarq.php?option=cadcaixa&codEmp='. $dataTable[$i]['CodEmpresa'].'&codSet='. $dataTable[$i]['CodSetor'] .'&codCai='. $dataTable[$i]['CodCaixa'].'&status=v"';
                                                    echo '<a name="view" class="btn btn-primary btn-sm"'.$link.'>';
                                                        echo '<i class="fa fa-eye"></i>';
                                                    echo '</a> ';
                                                }
                                                if ( $acoes['sta_rel']==1  &&  $filtro!="")
                                                {
                                                    $link=' href="modeloCaixa.html target=' .'"_blank'.'"'.'"';
                                                    echo '<a name="report" class="btn btn-sucess btn-sm"'.$link.'>';
                                                        echo '<i class="fa fa-file-pdf"></i>';
                                                    echo '</a> ';
                                                }
                                           
                                           
                                            echo '</td>';
                                                          
                                        echo "</tr>";
                                    } 
            
                                ?>
            

                            </tbody>
                            <tfoot>
                                <?php
                                if ( $acoes['sta_inc']==1 )
                                {
                                    echo '<a href="sisarq.php?option=cadcaixa&status=i" class="btn btn-success"> ';
                                    echo '<i class="fa fa-plus"></i> ';
                                    echo '<b>Cadastrar nova Caixa</b>';
                                    echo '</a>';
                                }
                                ?>
                                <hr>
                            </tfoot>

                        </table>
                        <hr />
                        <?php
                        if ( $acoes['sta_inc']==1 )
                        {
                       
                            echo '<div class="pull-right">';
                            echo '<a href="sisarq.php?option=cadcaixa&status=i" class="btn btn-success"><i class="fa fa-plus"></i> <b>Cadastrar nova Caixa</b></a>';
                            echo '</div>';
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

