<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Prefeitura de <?=$page_title;?> - Admin</title>

  <!-- Tell the browser to be responsive to screen width -->

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" type="text/css" href="view/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="view/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="view/assets/bower_components/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="view/assets/bower_components/Ionicons/css/ionicons.min.css">

  <link rel="stylesheet" type="text/css" href="view/assets/dist/css/AdminLTE.min.css">

  <link rel="stylesheet" type="text/css" href="view/assets/dist/css/skins/_all-skins.min.css">
  <link rel="shortcut icon" href="upload/<?=$config['config_favicon'];?>">


  <!-- chama de pacotes necessárioa da aplicação -->

  <?php foreach(@$package->import['css'] as $css): ?>

  <link rel="stylesheet" type="text/css" href="<?php echo $css; ?>">

  <?php endforeach; ?>



  <?php

  	if( isset($package->import['manual_css']) ):

  	foreach($package->import['manual_css'] as $manual_css): 

  ?>

  <link rel="stylesheet" type="text/css" href="<?php echo $css; ?>">

  <?php 

  	endforeach;

  	endif; 

  ?>



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <![endif]-->



  <!-- Google Font -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



  <script type="text/javascript" src="view/assets/bower_components/jquery/dist/jquery.min.js"></script>



  <script type="text/javascript" src="view/assets/bower_components/jquery-ui/jquery-ui.min.js"></script>



  <script type="text/javascript" src="view/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



  <?php foreach($package->import['js'] as $js): ?>

  <script type="text/javascript" src="<?php echo $js; ?>"></script>

  <?php endforeach; ?>



  <?php

  	if( isset($package->import['manual_js']) ):

  	foreach($package->import['manual_js'] as $manual_js): 

  ?>

  <script type="text/javascript"><?php echo $manual_js ?></script>

  <?php 

  	endforeach;

  	endif;

  ?>



  <script>

    $.widget.bridge('uibutton', $.ui.button);

    $(document).ready(function() {

      setTimeout()

    })

  </script>



  <?php

    // notificações do sistema

    if(isset($_GET['success']) or isset($_GET['error'])):

      

      if(isset($_GET['success']) and !empty($_GET['success'])){

        $modalTheme = "modal-success";

        $titleModal = "Ação Realizada com Sucesso";

        $contentModal = $_GET['success'];

      }elseif( isset($_GET['error']) and !empty($_GET['error']) ){

        $modalTheme = "modal-danger";

        $titleModal = "Falha em Ação";

        $contentModal = $_GET['error'];

      }



      echo '<script type="text/javascript">

            $(document).ready(function() {

              $(".modal-alert").modal("show");

            })

            </script>';

    endif;

  ?>



  <?php if(isset($_GET['success']) or isset($_GET['error'])): ?>

  <div class="modal <?=$modalTheme; ?> modal-alert fade">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span></button>

            <h4 class="modal-title"><?=$titleModal; ?></h4>

          </div>

          <div class="modal-body">

            <h3 class="text-justify"><?=$contentModal; ?></h3>

          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Entendi</button>

          </div>

        </div>

        <!-- /.modal-content -->

      </div>

      <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->

  <?php endif; ?>



</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">



  <?php include_once("view/layout/navbar.html"); ?>

  <!-- Left side column. contains the logo and sidebar -->

  <?php include_once("view/layout/sidebar.html"); ?>



  <!-- Content Wrapper. Contains page content -->

  <?php page_content(); ?>

  <!-- /.content-wrapper -->



  <?php include_once("view/layout/footer.html"); ?>



  <!-- Control Sidebar -->

  <?php include_once("view/layout/aside.html"); ?>

  <!-- /.control-sidebar -->

  <!-- Add the sidebar's background. This div must be placed

       immediately after the control sidebar -->

  <div class="control-sidebar-bg"></div>

</div>

<!-- ./wrapper -->

</body>

</html>

